<section class="left">

  <div style=" padding-top:30px;">
    <span style="margin: 40px;">Delete your Question</span>
    <form #myfrm="ngForm" (ngSubmit)="deleteQuestion(myfrm.value)" style="margin: 40px;">

      <label>Enter Question ID</label>
      <input ngModel type="number" name="id" class="poorText" placeholder="enter id">
      <br /><br /><br />
      <button id="getButton">Delete Question</button>



    </form>
  </div>

</section>
<div class="divider2"></div>

<section class="right">
  <div style=" padding-top:30px;">
    <span id="questions" style="margin: 40px;">Questions appear here....</span>
  </div>
</section>