.left{
    background-color:rgb(111, 186, 247);
    width:100%;
    float: left;
    min-height: 90vh;
    max-height: 90vh;
    color: rgb(4, 42, 99);
    font-size: 25px;
}
#getButton{
    margin-left: 450px;
    border-radius:20px;
    padding: 10px 20px;
    color:rgb(255, 255, 255);
    background-color:rgb(4, 42, 99);
}

.textField{
    border: none;
    border-left: 10px solid white;
    border-radius: 15px;
    margin: 25px;
    height: 40px;
    width: 320px;
}

.labels{
    margin-left: 40px;
    font-size: 22px;
}